h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}


/*Header*/

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.contenido-header {
    width: 100%;
    height: 355px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}


/*Animacion a la imagen del header*/

@keyframes animat {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
}

.textos-header a{
    margin: 20px 0 0 0;
    text-align: center;
    width: 140px;
    display: inline-block;
    background: #38a596;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(10, 211, 201, 0.8);
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.titulo {
    font-size: 50px;
}


/*Los grupos de proyecto*/

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    /*Poner uno abajo del otro*/
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(48, 29, 17, 0.26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #38a596;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #38a596;
    transition: color .5s;
}


/*Integrantes*/


/*Sección del titulo*/

.proyecto {
    color: #1d273b;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 2%;
    font-size: 80px;
    font-weight: 600;
}

.questions {
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
}

.textos-questions {
    width: 40%;
}

.textos-questions p {
    margin-top: 14px;
    color: #5D6678;
    font-weight: 300;
    margin: 20px 0;
}

.textos-questions button {
    margin: 20px 0 0 0;
    text-align: center;
    width: 140px;
    display: inline-block;
    background: #38a596;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(10, 211, 201, 0.8);
}


/*Alcance*/

.results {
    background: #f2f2f2;
    padding-top: 30px;
}

.conten-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 90%;
    display: contents;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    height: 90%;
    background: #38a596;
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-left: 5%;
}

.numbers .number h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p {
    color: #f2f5fc;
    font-weight: 300;
}

.results-text {
    width: 37%;
}

.results-text h4 {
    color: #fff;
    font-size: 40px;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}


/*Services*/

.services {
    display: flex;
    justify-content: space-between;
}

.box-skills {
    margin: 0px 40px 0 0;
}

.box-skills h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 250px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

.box-skills i {
    color: #fc7323;
    font-size: 20px;
}


/*footer*/

footer {
    background: #fff;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.color2 {
    background: #f2f2f2;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover {
    color: #38a596;
}

.partFooter img {
    width: 40%;
}

.social i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social i:hover {
    color: #fff;
    background-color: #38a596;
    border-color: #38a596;
}


/*Adaptable a mobiles break points 600*/

@media screen and (max-width:800px) {
    .titulo {
        font-size: 45px;
    }
    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    .contenido-header {
        width: 400px;
    }
    .textos-header {
        margin: 0;
    }
    /*Los grupos de proyecto*/
    .articulo {
        width: 45%;
    }
    /*integrnates*/
    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .questions>img {
        width: 400px;
    }
    /*alcance*/
    .conten-results {
        flex-direction: column-reverse;
    }
    .results-text>a {
        margin-bottom: 60px;
    }
    .numbers {
        width: 100%;
    }
    .results-text {
        width: 100%;
    }
    /*Services*/
    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills {
        margin: 0 0 40px 0;
        width: 500px;
    }
    .box-skills h4 {
        width: 500px;
    }
    .services>img {
        width: 400px;
    }
    /*Footer*/
    footer {
        justify-content: space-evenly;
    }
    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}


/*Segundo break point*/

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }
    h1 {
        font-size: 40px;
    }
    .contenido-header {
        height: 650px;
    }
    .nav {
        padding: 0 10px;
    }
    .contenido-header>img {
        width: 200px;
    }
    .enlaces-header {

        background: #02AAB0;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #00CDAC, #02AAB0);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        width: 100%;
        height: 100vh;
    }
    /*los grupos de proyecto*/
    .articulo {
        width: 95%;
    }
    /*alcance*/
    .questions>img {
        width: 200px;
    }
    .numbers .number {
        width: 95%;
    }
    .results-text h4 {
        font-size: 35px;
    }
    /*Services*/
    .services>img {
        width: 200px;
    }
    .box-skills h4 {
        width: 100%;
    }
    /*Footer*/
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}