<!DOCTYPE html>
<html lang="esp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla modal Grupos</title>
</head>
<body>
<section th:fragment="modal-grupo">
    <!--Formulario 1 (Ventana modal)-->

    <div class="overlay" id="overlay">
        <div class="popup modal-close" id="popup">
            <span class="btn-cerrar-popup" id="btn-cerrar-popup">&times;</span>
            <h3> Crear grupo de proyecto</h3>
            <form th:action="@{/creargrupo}" method="post" th:object="${grupoInfo}">
                <div class="contenedor-inputs">
                    <div class="grupo">
                        <input type="text" th:field="${grupoInfo.nombreGrupo}" autofocus required><span class="barra"></span>
                        <label class="label1">Nombre del grupo</label>
                    </div>
                    <div class="grupo">
                        <textarea th:field="${grupoInfo.descGrupo}"></textarea><span class="barra"></span>
                        <label>Descripción del proyecto</label>
                    </div>
                    <div class="grupo">
                        <textarea th:field="${grupoInfo.alcanGrupo}"></textarea><span class="barra"></span>
                        <label>Alcance del proyecto</label>
                    </div>
                    <br>
                    <br>
                    <h4><strong>Integrantes</strong></h4>
                    <select class="option1" th:field="${grupoInfo.userG}">
                        <option th:value="ninguno">Integrante 1</option>
                        <th:block th:each="user : ${sinGrupo}">
                            <th:block th:if="${user.getGrupo() == null}">
                                <option th:value="${user.idUsua}" th:text="${user.nombUsua} + ' ' + ${user.apelUsua}"></option>
                            </th:block>
                        </th:block>
                    </select>

                    <select class="option2">
                        <option selected value="0">Integrante 2</option>
                        <option value="1"> Karen Romero Martinez</option>
                        <option value="2"> Liezth Moreno Aguirre</option>
                        <option value="3"> Mario Ramirez Cordoba</option>
                        <option value="4"> Andres Roa Gonzales</option>
                    </select>

                    <select class="option3">
                        <option selected value="0">Integrante 3</option>
                        <option value="1">Karen Romero Martinez</option>
                        <option value="2"> Liezth Moreno Aguirre</option>
                        <option value="3"> Miguel Angel Garcia Zambrano</option>
                        <option value="4"> Juan Camilo Posada</option>
                    </select>

                    <select class="option4">
                        <option selected value="0">Integrante 4</option>
                        <option value="1"> Angie Lorena Riascos</option>
                        <option value="2"> Alexander Lozano Riascos</option>
                        <option value="3"> Sebastina Vega Lisarazo</option>
                        <option value="4"> Miguel Angel Garcia Zambrano</option>
                    </select>
                </div>
                <br>
                <input type="submit" class="btn-submit">
            </form>
        </div>
    </div>
     <script th:src="@{../js/modal.js}"></script>
</section>
</body>
</html>