<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/prueba.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{img/naranja_sena.png}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>ProjectUp</title>
</head>
<body>
<!-- Comienzo del menu -->
<section th:fragment="barra-lateral">
    <header>
        <section>
            <div class="sidebar close">
                <div class="logo-details">
                    <i class='bx bx-menu'></i>
                    <span class="logo_name">Admin</span>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="#">
                            <i class='fas fa-users' ></i>
                            <span class="link_name">Aprendices</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Aprendices</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='fas fa-folder-open' ></i>
                                <span class="link_name">Fichas</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow' ></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name" href="#">Fichas</a></li>
                            <li><a href="#">2242753</a></li>
                            <li><a href="#">151512185</a></li>
                            <li><a href="#">1846549</a></li>
                            <li><a href="#">1846549</a></li>
                            <li><a href="#">7621654</a></li>

                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='fas fa-chalkboard-teacher' ></i>
                                <span class="link_name">instructores</span>
                            </a>
                        </div>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Instructores</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='fas fa-user-shield' ></i>
                            <span class="link_name">Coordinadores</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Coordinadores</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-cog' ></i>
                            <span class="link_name">Mi perfil</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Mi perfil</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="profile-details">
                            <div class="profile-content">
                                <img th:src="@{img/naranja_sena.png}" alt="profileImg">
                            </div>
                            <div class="name-job">
                                <div class="profile_name">Maicol Chong</div>
                                <div class="job">Administrador</div>
                            </div>
                            <i class='bx bx-log-out' ></i>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </header>
</section>
<!-- Fin del menú -->
<script th:fragment="js-barra" th:src="@{js/script.js}"></script>
</body>
</html>