<!DOCTYPE html>
<html lang="esp" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">

    <meta charset="UTF-8">
    <title>Entregable</title>
</head>
<body>

<section class="contenedor">
    <h1>Lista De entregables</h1>
    <a href="">Registrar un entregable</a>
    <div class="content-table">
        <table class="table">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Trimeste</th>
                <th>Descripción</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Archivo</th>
                <th>Fase</th>
                <th>Instructor de seguimiento</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entregable : ${listaEntregable}">
                <td>[[${entregable.tituloEntre}]]</td>
                <td>[[${entregable.trimEntre}]]</td>
                <td>[[${entregable.descEntre}]]</td>
                <td>[[${entregable.fechaInicio}]]</td>
                <td>[[${entregable.fechaFin}]]</td>
                <td>[[${entregable.archivoEntre}]]</td>
                <td>[[${entregable.fase.nomFase}]]</td>
                <td>[[${entregable.InstSeg}]]</td>

                <td><a th:href="@{'entregabla/modificar/' + ${entregable.idEntre}}">Modificar</a>

                </td>
                <td><a>Eliminar</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>

</body>
</html>