<!doctype html>
<html lang="esp" xmlns:th="http://www.thymeleaf.org">
<head th:insert="plantilla/plantilla :: head">
</head>
<body th:object="${infoFicha}">
<!-- Plantilla del menú lateral -->
<section th:replace="plantilla/plantilla :: barra-lateral">
</section>

<h1>[[${infoFicha.numFicha}]]</h1>
<p>[[${infoFicha.etapaElectiva}]]</p>
<p>[[${infoFicha.finEtapaElectiva}]]</p>
<p>[[${infoFicha.jornadaFicha}]]</p>

<!--Inicio de grupos de la ficha-->
<section>
    <header>
        <div class="contenedor">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>Grupos de proyecto</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo quia cupiditate saepe
                        inventore id neque aliquid vel aperiam, tempora ab quas, magnam qui recusandae delectus dolor.
                        Nisi, fugit eos?</p>
                    <a th:href="@{'/nuevogrupo'}" class="btn-abrir-popup" id="btn-abrir-popup">Crear Grupo</a>
                </section>
            </section>
        </div>
    </header>
    <section class="about-us" id="seccion2">
        <div class="contenedor1">
            <h1>Grupos</h1>

            <div class="contenedor-articulo">
                <th:block th:each="grupo : ${grupos}">

                    <div class="articulo">

                        <i class="fas fa-pen-fancy"></i>
                        <h3>[[${grupo.nombreGrupo}]]</h3>
                        <p>[[${grupo.descGrupo}]]
                        </p>
                        <a th:href="@{'/descripcion/' + ${grupo.idGrupo}}"> <strong> Ver grupo ---></strong></a>
                    </div>
                </th:block>
            </div>
        </div>

    </section>
</section>
<script th:replace="plantilla/plantilla :: js-barra"></script>
<!-- Fin del resto de la página -->

<!-- Plantilla del formulario modal -->
<!-- Aquí va el modal -->
<section>

</section>

</body>
</html>