<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>ProjectUp</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="SENA">

  <!-- Favicons -->
  <link href="img/iconP.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

  <!-- Main Stylesheet File -->
  <link href="css/index.css" rel="stylesheet">
</head>

<body id="body">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index" id="body" class="scrollto">
            <img src="img/logo2.png" class="logoImportante" alt="Logo ProjectUp">
        </h1>
        <div id="divisor"></div>
        <div class="sublogo">
          <img src="img/logo-sena.png" alt="Logo SENA">
        </div>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">INICIO</a></li>
          <li><a href="#aboutUs">ACERCA DE PROJECTUP</a></li>
          <li><a href="#services">FUNCIONALIDADES</a></li>
          <li><a href="#clients">MÓDULOS</a></li>
          <li><a href="#contacto">CONTÁCTANOS</a></li>
          <li><a href="/login">INICIAR SESIÓN</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="clearfix">
    <div class="container">

      <div class="hero-banner">
        <img src="img/INDEX.svg" alt="Checklist" class="img-fluid">
      </div>

      <div class="hero-content">
        <h2>Seguimineto de proyectos<br><span>ADSI</span></h2>

      </div>

    </div>
  </section><!-- #Hero -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <br>
    <p id="aboutUs"></p>
    <br>
    <br>
    <br>
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>PROJECTUP</h2>
          <p>
            Es un sistema de informacion para la gestión y el control de los avances en los proyectos
            formativos de los aprendices ADSI (Análisis y Desarrollo de Sistemas de Información) en el CGMLTI SENA,
            permite:
          </p>
        </div>
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/INDEX2.svg" alt="">
          </div>

          <div class="col-lg-6 content">
            <ul>
              <li><i class="icon ion-ios-checkmark-outline"></i> Control total de los proyectos de los aprendices.</li>
              <li><i class="icon ion-ios-checkmark-outline"></i> Asociación lógica entre módulos y fases de desarrollo
                de software.</li>
              <li><i class="icon ion-ios-checkmark-outline"></i> Comunicación más activa entre los usuarios.</li>
              <li><i class="icon ion-ios-checkmark-outline"></i> Retroalimentaciones permanentes en el sistema.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>FUNCIONALIDADES</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon svgImg"><img src="img/AVANCES.svg" alt="Subir avances"></div>
              <h4 class="title">Carga de avances</h4>
              <p class="description">Los aprendices pueden subir los avances de su proyecto a la plataforma.
                Estos avances pertenecen a una fase de desarrollo de software, para acercar al aprendiz a este proceso.
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInRight">
              <div class="icon svgImg"><img src="img/REVIEW.svg" alt="Revisiones"></div>
              <h4 class="title">Revisiones</h4>
              <p class="description">Los instructores tiene la capacidad de revisar los documentos subidos por los
                aprendices.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/OBSERVACION.svg" alt="Retroalimentaciones"></div>
              <h4 class="title">Retroalimención y respuesta</h4>
              <p class="description">Los instructores pueden comentar los avacnes de los proyectos y los aprendices
                podrán responder a estas observaciones.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/REPORTS.svg" alt="Reportes"></div>
              <h4 class="title">Reportes</h4>
              <p class="description">El sistema puede generar reportes para que los instructores conozcan el nivel de la
                ficha según avancen los grupos de proyecto.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/EMAIL.svg" alt="Reportes"></div>
              <h4 class="title">Avisos</h4>
              <p class="description">Las observaciones se darán a cononcer a través de una notificación via correo
                electrónico a los aprendices.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/UNICO.svg" alt="Reportes"></div>
              <h4 class="title">Única plataforma</h4>
              <p class="description">El seguimento de los avances y evidencias se podrán realizar en una única
                plataforma, no habrá necesidad de públicar los documentos en alguna otra.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>MÓDULOS</h2>
          <p>PROJECTUP está organizado por módulos que mantiene el nivel organizativo en el SENA</p>
        </div>

        <div class="modulos">
          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/USUARIOS2.svg" alt="Reportes"></div>
              <h4 class="title">Usuarios</h4>
              <p class="description">Vincular usuarios a sus áreas dentro del sistema garantizando las gestión de sus
                tareas.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/FICHAS.svg" alt="Reportes"></div>
              <h4 class="title">Fichas de caracterización</h4>
              <p class="description">Representa las fichas que el SENA establece para organizar a los aprendices e instructores.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/GRUPOS.svg" alt="Reportes"></div>
              <h4 class="title">Grupos de proyecto</h4>
              <p class="description">Representan los grupos de trabajo, quienes trabajan en su proyecto formativo.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/ENTREAVAN.svg" alt="Reportes"></div>
              <h4 class="title">Entregables y avances</h4>
              <p class="description">Espacios que contendrá los avances cargados por los integrantes de un grupo de proyecto.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/RETRORESP.svg" alt="Reportes"></div>
              <h4 class="title">Retroalimención y respuesta</h4>
              <p class="description">Se encuentran las retroalimentaciones dadas por el instructor y las respuestas los aprendices.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="modulo wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon svgImg"><img src="img/REPORTS.svg" alt="Reportes"></div>
              <h4 class="title">Reportes</h4>
              <p class="description">Contiene los reportes generados y permite su administración.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Ventajas</h2>
          <p>
            Beneficios de utilizar PROJECTUP
          </p>
        </div>

        <div class="col-lg-6 content ventajas">
          <ul>
            <li><i class="icon ion-ios-checkmark-outline"></i> Organización por fichas de caracterización.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> Seguimiento en una única plataforma.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> Proyectos finales permanentes en el sistema.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> Retroalimentaciones a la mano.</li>
          </ul>
        </div>
        <div class="col-lg-6 content ventajas2">
          <ul>
            <li><i class="icon ion-ios-checkmark-outline"></i> Reportes de los avances por fichas.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> Fichas compuestas por grupos de proyecto.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> Notificación por correo electrónico de las
              retroalimentaciones.</li>
            <li><i class="icon ion-ios-checkmark-outline"></i> División de los entregables por fases de desarrollo de
              software.</li>
          </ul>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
    Page Banner Section
  ============================-->
    <p id="contacto"></p>
    <br>
    <br>
    <br>
    <br>
    <section id="innerBanner">
      <div class="inner-content">
        <h2><span>Contáctanos</span><br><br>SENA una entidad de formación profesional al alcance de todos</h2>
        <div>
        </div>
      </div>
    </section><!-- #Page Banner -->




    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">

        <div class="row contact-info">
          <div class="col-lg-5">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Dirección</h3>
              <address>Chapinero: Cl. 52 #13 65, Bogotá</address>
            </div>
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Números de contacto</h3>
              <p>Ciudadano: Bogotá (57 1) 3430111</p>
              <p>Empresario: Bogotá (57 1) 3430101</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="container">
              <div class="form">

                <!-- Form itself -->
                <form action="#" name="sentMessage" class="well" id="contactForm" novalidate>
                  <div class="control-group">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombre completo" id="name" required
                        data-validation-required-message="Please enter your name" />
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="email" class="form-control" placeholder="Correo electrónico" id="email" required
                        data-validation-required-message="Please enter your email" />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="controls">
                      <textarea rows="10" cols="100" class="form-control" placeholder="Mensaje" id="message" required
                        data-validation-required-message="Please enter your message" minlength="5"
                        data-validation-minlength-message="Min 5 characters" maxlength="999"
                        style="resize:none"></textarea>
                    </div>
                  </div>
                  <div id="success"> </div> <!-- For success/fail messages -->
                  <button type="submit" class="btn btn-primary pull-right">Enviar</button><br />
                </form>
              </div>

            </div>
          </div>


        </div>
      </div>

      <div class="container mb-4 map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15906.988282479728!2d-74.0661724!3d4.6391484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4347f67e96f6d8b!2sSENA%20CGMLTI!5e0!3m2!1ses!2sco!4v1630454211903!5m2!1ses!2sco"
          width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>

    </section><!-- #contact -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer>
    <div class="partFooter">
      <p><strong>&copy;Copyright Projectup <br> Derechos reservados 2021</strong></p>
    </div>

    <div class="logoFooter">
      <img src="img/LogoEnteroBlanco.png" alt="Logo projectup">
    </div>

    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript  -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>
  <script src="contact/jqBootstrapValidation.js"></script>
  <script src="contact/contact_me.js"></script>
  <script src="js/index.js"></script>
</body>

</html>