<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro </title>
</head>
<body>
<h1>Registro Usuarios</h1>
<form th:action="@{/registrar}" method="post" th:object="${user}">
    <label >Nombre</label>
    <input type="text" th:field="${user.nombUsua}"><br>
    <label >Apellido</label>
    <input type="text" th:field="${user.apelUsua}" ><br>
    <label >Tipo documento</label>
    <input type="text" th:field="${user.tipoDoc}"><br>
    <label >Numero Documento</label>
    <input type="text" th:field="${user.numbDocUsua}"><br>
    <label >Fecha de nacimiento</label>
    <input type="date" th:field="${user.fechNaci}"><br>
    <label >Correo</label>
    <input type="email" th:field="${user.corrUsua}"><br>
    <label >contraseña</label>
    <input type="password" th:field="${user.contraUsua}"><br>
    <label >Estado</label>
    <input type="checkbox" th:field="${user.estaUsua}"><br>
    <label >Rol</label>
    <select  th:field="${user.rol}" >
        <option th:each="roles : ${listRol}" th:value="${roles.idRol}" th:text="${roles.tipoRol}">
        </option>
    </select><br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>